body {
    background-color: black;
  }
  h1 {
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
  }
  h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300px;
    font-size: 42px;
    text-align: center;
  }
  #link {
    color: aquamarine;
    font-size: 16px;
  }
  p {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
  }
  #footer{
    text-align: right;
    color: gray;
  }